<%- include ('../layouts/header.ejs') %>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-light">
        <div class="container-fluid just">
          <a class="navbar-brand text-white" href="#">Welcome Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
            </ul>
            <form class="d-flex justify-content-between" >
              <a href="/admin/dashboard" class="btn btn-outline-warning ">Dashboard</a>
              <a href="/admin/logout" class="btn btn-outline-success">Logout</a>
            </form>
          </div>
        </div>
      </nav>
     
      <div class="text-center center-div mt-5">
        <div class="container w-25 border py-5 mt-5">
          <table id="sample" class="table table-striped table-bordered" style="width:100%">

            <tr>
              <td>Email</td>
              <td><%= admin.email %></td>
            </tr>
            <tr>
              <td>Mobile</td>
              <td><%= admin.mobile %></td>
            </tr>
          </table>
        </div>
    </div> 
    <%- include ('../layouts/footer.ejs') %>




